<div class="justify-content-md-center label-top">
  <h3> Folio : {{serviceItem.itemId}}</h3>
  <button type="button" class="btn btn-primary" style="margin-top: 20px" (click)="back()">Regresar <i class="fa fa-arrow-left"></i></button>

  <hr/>

  <div class="labelbody col-md-6 justify-content-center">
    <div class="row">
      <div class="col-5">{{this.serviceItem.payBy}}</div>
      <div class="col-7" style="text-align:right">Folio: {{this.serviceItem.itemId}}</div>
    </div>

    <div class="borderdiv">
      <div class="row">
        <div class="col-4">
          <b>Envia:</b>
        </div>
        <div class="col-8">{{this.serviceItem.sender.name}} <br/> {{this.serviceItem.originLocation}}
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <b>Celular:</b>
        </div>
        <div class="col-8">{{this.serviceItem.sender.phone}}</div>
      </div>
      <div class="row">
        <div class="col-4">
          <b>Recibe:</b>
        </div>
        <div class="col-8">{{this.serviceItem.destinations[0].receiver.name}}</div>
      </div>
      <div class="row">
        <div class="col-4">
          <b>Contiene:</b>
        </div>
        <div class="col-8">{{this.serviceItem.destinations[0].packageContent}}</div>
      </div>
      <div class="row">
        <div class="col-4">
          <b>Distancia:</b>
        </div>
        <div class="col-8">{{this.serviceItem.destinations[0].distance}} km</div>
      </div>
    </div>
    <div class="sideborder">
      <div class="row msgdiv">
        <div class="col">
          <b>Mensaje:</b> <br/> {{this.serviceItem.destinations[0].message}}
        </div>
      </div>
    </div>
    <div class="borderdiv">
      <div class="row instdiv">
        <div class="col-6">
          <b>Instrucciones:</b> <br/> {{this.serviceItem.destinations[0].instructions}}
        </div>
        <div class="col-6 qrcode">
          <img src="http://qrickit.com/api/qr.php?d={{this.serviceItem.destinations[0].urlMap}}" alt="" width="140px">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col" style="text-align: center">
        www.zippyofficeboys.com <br/>
        664 378 4752
      </div>
    </div>
  </div>
</div>
