
.container {
  text-align: left;
}
label {
  font-weight: bold;
}

form {
  padding-bottom: 15px
}

h4 {
  margin-bottom: 15px;
  text-align: center;
}

.dropdown-menu {
  min-width: 185px;
}

input {
  text-transform: uppercase;
}

textarea {
  text-transform: uppercase;
}


.btnForm {
  text-align: center;
}

.btnForm > button {
  margin: 10px;
}
