<h3 *ngIf="!isEditAction">Solicitud de Servicio</h3>
<h3 *ngIf="isEditAction"> Folio : {{serviceItem.itemId}}</h3>

<div class="alert alert-warning" role="alert" *ngIf="isEditAction && itemRegForm.dirty">
  ** Se realizaron cambios, guardalos para poder ver la etiqueta
</div>
<hr/>
<div class="container">


  <form role="form" (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()" #itemRegForm="ngForm">
    <div class="row">
      <div class="col-md-5">
        <h4> Datos Remitente</h4>

        <fieldset *ngIf="isEditAction" class="form-group">
          <label>Estatus</label>
          <select class="form-control" name="itemStatus" [ngModel]="serviceItem.itemStatus">
            <option *ngFor="let itemStatus of getServiceStatus()" [value]="itemStatus">{{itemStatus}}</option>
          </select>
        </fieldset>

        <div class="form-group">
          <label>Servicio</label>
          <select class="form-control" name="itemType" [ngModel]="serviceItem.type">
            <option *ngFor="let type of getServiceTypes()" [value]="type">{{type}}</option>
          </select>
        </div>

        <fieldset class="form-group">
          <label>Dia de recoleccion</label>
          <div class="form-group">
            <div class="input-group datepicker-input">
              <input class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker" [ngModel]="serviceItem.recolectDate" (ngModelChange)="changeDatePicker($event)" required>
              <button class="input-group-addon" (click)="d.toggle()" type="button">
                <i class="fa fa-calendar"></i>
              </button>
            </div>
          </div>
        </fieldset>

        <fieldset class="form-group">
          <label>Hora de recoleccion</label>
          <select class="custom-select" [ngModel]="serviceItem.recolectTimeIndex" name="serviceTime" required>
            <option disabled selected value> -- selecciona horario -- </option>
            <option *ngFor="let timeAvailable of timeAvailArray" [value]="timeAvailable.id" [disabled]="!timeAvailable.enabled">{{timeAvailable.hour}}</option>

          </select>
        </fieldset>

        <fieldset class="form-group">
          <label>Quien envia</label>
          <input class="form-control" name="senderName" [ngModel]="serviceItem.sender.name" required>
        </fieldset>
        <fieldset class="form-group">
          <label>Celular</label>
          <input class="form-control" name="senderPhone" placeholder="664-XXXXXXX" [ngModel]="serviceItem.sender.phone" required>
        </fieldset>

        <fieldset class="form-group">
          <label>Origen</label>
          <div class="input-group">
            <input class="form-control" name="originLocation" [ngModel]="serviceItem.originLocation" required readonly>
            <button class="input-group-addon" (click)="open(content,'Origin')" type="button">
              <i class="fa fa-map"></i>
            </button>
          </div>
        </fieldset>

        <div class="form-group">
          <label>Paga</label>
          <select class="form-control" name="payBy" [ngModel]="serviceItem.payBy">
            <option *ngFor="let payBy of getPayByList()" [value]="payBy">{{payBy}}</option>
          </select>
        </div>
        <div style="display:none">
          <h4>(Solo empresas afiliadas)</h4>

          <fieldset class="form-group">
            <label>Usuario</label>
            <input class="form-control" placeholder="usuario@empresa.com" disabled>
          </fieldset>

          <fieldset class="form-group">
            <label>Contrase&ntilde;a</label>
            <input class="form-control" disabled>
          </fieldset>
        </div>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-5">
        <!--Multiple Destination-->
        <!--<app-delivery-service-form *ngFor="let destination of serviceItem.destinations"-->
        <!--[destinationItem]="destination"></app-delivery-service-form>-->
        <div class="d-block d-sm-block d-md-none">
          <hr/>
        </div>

        <h4>Datos de Destino</h4>

        <fieldset class="form-group">
          <label>Destino </label>
          <div class="input-group">
            <input class="form-control" name="destLocation" [ngModel]="serviceItem.destinations[0].location" required #destLoc="ngModel" readonly>
            <button class="input-group-addon" (click)="open(content,'Destination')" type="button">
              <i class="fa fa-map"></i>
            </button>
          </div>
        </fieldset>

        <fieldset class="form-group">
          <label>Quien recibe</label>
          <input class="form-control" name="destRecName" [ngModel]="serviceItem.destinations[0].receiver.name" required>
        </fieldset>

        <fieldset class="form-group">
          <label>Contenido</label>
          <input class="form-control" name="destPkgContent" [ngModel]="serviceItem.destinations[0].packageContent" required>
        </fieldset>

        <fieldset class="form-group">
          <label>Mensaje al destinatario</label>
          <textarea class="form-control" rows="3" name="destMsg" [ngModel]="serviceItem.destinations[0].message" required></textarea>
        </fieldset>

        <fieldset class="form-group">
          <label>Instruccion al mensajero</label>
          <textarea class="form-control" rows="3" name="destInst" [ngModel]="serviceItem.destinations[0].instructions" required></textarea>
        </fieldset>

        <fieldset class="form-group">
          <label>Distancia (Precio por Kilometro: $8.90)</label>
          <input class="form-control" name="destDistance" #distance="ngModel" [ngModel]="serviceItem.destinations[0].distance" required readonly>
        </fieldset>

        <h2>Costo Total: {{ getTotalCost(this.distance.value) }}</h2>
      </div>
    </div>
    <div class="row btnForm">
      <div class="col btnForm">
        <button class="btn btn-primary" type="submit" *ngIf="!isEditAction || (isEditAction && itemRegForm.dirty)" [disabled]="!itemRegForm.valid">
          Guardar
          <i class="fa fa-save"></i>
          <i class="fa fa-spinner fa-spin" style="font-size:13px" *ngIf=wasSavedClicked></i></button>
        <button *ngIf="isEditAction && !itemRegForm.dirty" type="button" class="btn btn-info" (click)="printLabel()">
          Imprimir Etiqueta <i class="fa fa-tags"></i>
        </button>
        <button class="btn btn-primary" (click)="closeDetails()" type="button">
          Regresar
          <i class="fa fa-arrow-left"></i>
        </button>
      </div>
    </div>
  </form>


</div>

<!-- Modal -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 *ngIf="gmapModalOpen === 'Origin'" class="modal-title">Lugar de Recoleccion</h4>
    <h4  *ngIf="gmapModalOpen === 'Destination'"  class="modal-title">Lugar de Entrega</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-gmap (addressSelected)="gmapAddrSelected($event)"></app-gmap>
  </div>
</ng-template>
