<form role="form">
  <div>
    <h3>Datos de Servicio</h3>

    <div class="form-group">
      <label>Servicio</label>
      <select class="form-control">
                        <option>Express</option>
                        <option>Normal</option>
                    </select>
    </div>

    <fieldset class="form-group">
      <label>Quien recibe</label>
      <input class="form-control">
    </fieldset>

    <fieldset class="form-group">
      <label>Destino</label>
      <input class="form-control">
    </fieldset>

    <fieldset class="form-group">
      <label>Mensaje al destinatario</label>
      <textarea class="form-control" rows="3"></textarea>
    </fieldset>

    <fieldset class="form-group">
      <label>Instruccion al mensajero</label>
      <textarea class="form-control" rows="3"></textarea>
    </fieldset>


  </div>
</form>
