<form role="form">
  <div>
    <h3>Datos de Destino</h3>

    <fieldset class="form-group">
      <label>Destino</label>
      <input class="form-control">
    </fieldset>

    <fieldset class="form-group">
      <label>Quien recibe</label>
      <input class="form-control">
    </fieldset>

    <fieldset class="form-group">
      <label>Contenido</label>
      <input class="form-control">
    </fieldset>

    <fieldset class="form-group">
      <label>Mensaje al destinatario</label>
      <textarea class="form-control" rows="3"></textarea>
    </fieldset>

    <fieldset class="form-group">
      <label>Instruccion al mensajero</label>
      <textarea class="form-control" rows="3"></textarea>
    </fieldset>

    <fieldset class="form-group">
      <label>Distancia (km)</label>
      <input class="form-control">
    </fieldset>

  </div>
</form>
