
<div>
  <div class="card-header">
    Servicios Solicitados
  </div>


  <div class="addServiceBtn" *ngIf="!displayError">
    <button class="btn btn-primary" [routerLink]="['/serviceItem']" *ngIf=!isLoadingData><i class="fa fa-plus"></i> Agregar Servicio</button>
    <a class="btn rounded-btn" [routerLink]="['/serviceItem']" *ngIf=isLoadingData>Cargando <i class="fa fa-spinner fa-spin" style="font-size:15px"></i></a>
  </div>
  <div class="card-body table-responsive text-center mx-auto" *ngIf="!displayError">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Folio</th>
          <th>Servicio</th>
          <th>Quien Envia</th>
          <th>Celular</th>
          <th>Hora</th>
          <th>Dia</th>
          <th>Estatus</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of _serviceItemArray; let i = index">
          <td scope="row">{{i+1}}</td>
          <td><a [routerLink]="['/serviceItem/'+item.itemId]">{{item.itemId}}</a></td>
          <td>{{item.type}}</td>
          <td style="text-align: left">{{item.sender.name}}</td>
          <td>{{item.sender.phone}}</td>
          <td>{{item.recolectTimeHour}}</td>
          <td>{{getItemDate(item)}}</td>
          <td>{{item.itemStatus}}</td>
        </tr>

      </tbody>
    </table>
  </div>

  <div class="alert alert-danger" role="alert" *ngIf="displayError">
      <i class="fa fa-plug" aria-hidden="true"></i>
      Se produjo un error al obtener la informacion. Intentar de nuevo 
      <button class="btn btn-danger"  onClick="window.location.reload()">
          <i class="fa fa-refresh"></i>
      </button>
  </div>
</div>
